/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}


 /* CSS Variables */
 :root{
    --navbar-height:59px;
 }


 /* Navigation Bar */
 #navbar{
    display: flex;
    align-items: center;
 }


 /* Navigation Bar: Logo and Image */
 #logo food{
    margin: 10px 34px;
 }


 #logo food img{
    height: 59px;
    margin: 3px 6px;
 }

 /* Navigation Bar: List Styling */
 #navbar{
     position: relative;
 }


  #navbar ul{
    display: flex;
    font-family: 'Baloo Bhai',cursive;
 }

 #navbar::before{
   content: "";
   background-color: black;
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.4;
 }
 
 #navbar ul li{
    list-style: none;
    font-size: 1.3rem;
 }


 #navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
 }

 #navbar ul li a:hover{
    color: black;
    background-color: aqua;
 }
 

 /* Home Section */
 #home{
   display: flex;
   flex-direction: column;
   padding: 3px 200px;
   height: 560px;
   justify-content: center;
   align-items: center;
 }


 #home::before{
   content: "";
   position: absolute;
   background: url('food background .jpg')no-repeat center center/cover;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.93;
 }

 #home h1{
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
 }

 #home p{
   color: white;
   text-align: center;
   font-size: 1.5rem;
   font-family: 'Baloo Bhai', cursive;
}


/*Secondary Center*/
#services{
    margin: 74px;
    display: flex;
}


#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #e9d9d9c1;
}



#services .box img{
    height: 160px;
    margin: auto;
    display:block;
}



 /* Utility Class */
 .h-primary{
    font-size: 3.8rem;
    padding: 12px;
 }


 .h-secondary {
    font-size: 2.8rem;
    padding: 12px;
 }



 .btn{
    padding: 6px 20px ;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
 }


 .center{
   text-align:center;
 }